body{
	background:#edece3;
	font:16px/1.3 "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#4f4e4c;
	font-weight:normal;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}
ul, li{
	list-style:none;
	padding:0;
	margin:0;

}
#{headings()}{
	font-weight:normal;
	line-height:1.3em;		
}

img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
