
//BASE COLOR PALLETE
$black 			: #000000; 
$persian-green 	: #00a99d;
$seashel 		: #f1f1f1;
$lochmara		: #0072bc;
$white			: #ffffff;

//SCREEN SIZE
//Responsive
$screen-phone 	: 330px !default;

//SIZE
$pixel	: 10px !default;