@import "compass";
@import "compass/css3";
@import "compass/css3/images";

//@import "partials/bootstrap/variables";
//@import "partials/bootstrap/mixins";

@import "partials/fonts";
@import "base/variables";
@import "base/mixins";

//$screen-lg 		: 1200;
//$screen-md 		: 979;
//$screen-sm 		: 768;
//$screen-sm - 1 	: 767;
//$screen-xs 		: 480;
//$screen-phone 	: 330;


@media (min-width: $screen-lg){}

@media (max-width: $screen-md) {

}

@media (min-width: $screen-sm) and (max-width: $screen-md){}

@media (max-width: $screen-sm - 1){
	
}

@media (max-width: $screen-xs + 90) {
	
}

@media (max-width: $screen-xs) {}

@media (max-width: $screen-xs -  150l){}







