//@import "compass";
//@import "compass/css3";
//@import "compass/css3/images";

//@import "partials/bootstrap/variables";
//@import "partials/bootstrap/mixins";

@import "partials/fonts";
@import "base/variables";
@import "base/mixins";

/*------------------------------------------------------------------
[Table of contents]

1. Body
2. Header / #header
3. Navigation / #navbar
4. Content / #content
5. Left column / #leftcolumn
6. Right column / #rightcolumn
7. Sidebar / #sidebar
8. RSS / #rss
9. Search / #search
10. Boxes / .box
11. Sideblog / #sideblog
12. Advertisements / .ads
13. Footer / #footer
-------------------------------------------------------------------*/

@import "base/general";


.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
	  &:before, &:after {
		  content: " ";
		  /* 1 */
		  display: table;
		  /* 2 */
	  }
	  &:after{
	  	clear: both;
	  }

  @media (min-width: $bp-large){
  	 max-width:1170px;
  }
}

a{
	text-decoration:none;
}

/*==========================================================================
  TABS
========================================================================== */

@media (min-width: 50em){}

.slidetab_head{
	overflow:hidden;
	padding-top:20px;
	h2{
		font-size:28px;
		float:left;

		@media (max-width : 29.75em){
			float:none;
			display:block;
		}
	}

	a{
		float:right;
		margin-top:12px;

		@media (max-width : 29.75em){
			float:none;
			display:block;
			text-align:right;
		}
	}
}

.tabs_content{
	display:none;
}


#tabs_nav_wrap{
	margin-bottom:30px;
	
	.slidetab-tab-nav{ display:none;}
	@media (min-width: 50em){
		 select{
			display:none;	
		 }
		 .slidetab-tab-nav{ display:block;}
	}
		
	select{
		padding:8px;
		width:100%;
		font-size:1.2em;
		line-height:1.5em;
		background:black;
		color:white;
		border:1p0x solid #cecece;
	}
}

@media (min-width: $bp-large){
	.slidetab-tab-nav{
		overflow:hidden;
		border-top:1px solid #666666;
		border-bottom:1px solid #666666;
		margin-bottom:30px;
		li{
			display:inline-block();
			a{
				color:#D70F81;
				float:left;
				padding:12px 20px;
				@include prefixed(transition, all .3s linear);
				text-decoration:none;
				text-transform:uppercase;
				@include prefixed(transition, .3s ease-out);

				&:hover{
					color:white;
				}

			}
		}
	}
}

.tabs_content{

	.item{
		figure{
			position:relative;
			width:100%;
			max-width:266px;
			text-align:center;
		}

		.btnplay{
			position:absolute;
			left:0;
			bottom:0;
			z-index:1;
			display:block;
			@include size(70px, 50px);
			background:#000000\9;
			background:rgba(0, 0 ,0, 0.8);
			text-align:center;
			font-size:38px;
			color:white;

			@include prefixed(transition, all .3s linear);

			&:hover{
				background:rgba(216, 7, 136, 0.8);
			}
		}
	}

	.item-caption{
		h4{
			font-size:20px;
			font-weight:normal;
			margin-bottom:15px;

			a{
				color:white;
				@include prefixed(transition, all .3s linear);
				&:hover{
					color:#D70F81;
				}
			}
		}
		p{
			a, span{
				display:inline-block();
			}
			span{
				margin:0 10px;
			}
			a{
				color:#999999;
				font-size:16px;
				&:hover{
					color:#D70F81;
				}
			}
		}
	}
}


.l-4up{
	.item{
		&.l-gi:last-child{
			float:left;
		}
	}		
}

.l-4up{
	.item{
		&.l-gi{
			@media (max-width :  39.8em){
				width:45%;
				text-align:center;
			}
			@media (max-width :  29.75em){
				width: 100%;
			}
		}
	}	
}






